@page "/bankaccountdetails/{id}"
@using BooKeeperWebApp.Shared.Dtos;

@inject BankAccountService _bankAccountService

<PageTitle>Account details @_bankAccountService.Item?.Name</PageTitle>

<h2>@_bankAccountService.Item?.Name</h2>

<div class="container-fluid h-100">
    <div class="row">
        <div class="col">
            Current amount = @_bankAccountService.Item?.CurrentAmount
        </div>
    </div>
    <div class="row jusitify-content-left">
        <div class="col">
            @if (_bankAccountService.Loading)
            {
                <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
            }
            <RadzenDataGrid AllowAlternatingRows="false"
                            AllowFiltering="false"
                            AllowPaging="false"
                            AllowSorting="false"
                            EditMode="DataGridEditMode.Single"
                            Data="@_bankAccountService.Item?.Mutations"
                            TItem="MutationDto">
                <Columns>
                    <RadzenDataGridColumn TItem="MutationDto" Property="Date" Title="Date" FormatString="{0,8:dd/MM/yyyy}" Width="75px" />
                    <RadzenDataGridColumn TItem="MutationDto" Property="AccountNumber" Title="Account" Width="75px" />
                    <RadzenDataGridColumn TItem="MutationDto" Property="OtherAccountNumber" Title="Other account" Width="125px" />
                    <RadzenDataGridColumn TItem="MutationDto" Property="Description" Title="Description" Width="100px" />
                    <RadzenDataGridColumn TItem="MutationDto" Property="Amount" FormatString="{0:N2}" Title="Amount" TextAlign="TextAlign.Right" Width="60px" />
                    <RadzenDataGridColumn TItem="MutationDto" Property="Comment" Title="Comment" Width="250px">
                        <Template>
                            <p style="white-space:pre-wrap">@context.Comment</p>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="MutationDto" Property="Tag" Title="Tag" Width="100px" />
                    <RadzenDataGridColumn TItem="MutationDto" Property="BookId" Title="Book" Width="150px" />
                    <RadzenDataGridColumn TItem="MutationDto" Property="EventId" Title="Event" Width="150px" />
                </Columns>
            </RadzenDataGrid>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        await _bankAccountService.GetById(Guid.Parse(Id!));
    }
}
